# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# env
.env
.env.local
.env.*.local

# database
data/*.db
data/*.db-wal
data/*.db-shm

# debug
npm-debug.log*
pnpm-debug.log*

# os
.DS_Store
Thumbs.db

# ide
.vscode/
.idea/

# misc
*.tsbuildinfo
next-env.d.ts
